{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="">
        <div class="media-body">
            <h2 class="account-heading">Post a New Comment</h2>
        
          </div>
        </div>
      {% csrf_token %}
      {% load crispy_forms_tags %}
        <form action="{% url 'index' %}" method="POST" enctype="multipart/form-data">
          <fieldset class="form-group">
            <legend class="border-bottom mb-4">New Comment</legend>
            {{ form | crispy }}
          </fieldset>
          <div class="form-group">
            <button class="btn btn-primary" type="submit">Add Comment</button>
          </div>
        </form>
    </div>
{% endblock %}